body {
    background-image: url(/home/sreyans/Desktop/Development/myproject/myproject/static/img/moroccan-flower-dark);
}

.logo {
    font-family: 'Peralta', cursive;
}

.logo a {
    color: rgba(0,0,0,.9)
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}